<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <table class="table" >
        <thead>
          <tr>
            <th>#</th>
            <th>Location</th>
            <th>Instrument Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% instruments.forEach(function(instrument, idx) { 
               if (!instrument.pending) { %>
            
            <!-- Summary Row -->
            <form action="/save/<%= instrument.id %>" method="POST">
            <tr class="toggle-btn" onclick="toggleRows('<%= idx %>')" colspan="3">
              <td ><%= instrument.startAddress %>–<%= instrument.endAddress %></td>
              <td> <%= instrument.name %></td>
              <td></td>
              <td><button class='btn btn-primary' type="submit">Save edits</button><a href="/delete/<%= instrument.id %>" class="btn btn-danger">Delete</a></td>
            </tr>
    
         
  <% instrument.lightlist.forEach(function(light, localIndex) { %>
    <tr class="details-<%= idx %> hidden-rows">
      <th scope="row"><%= instrument.startAddress + localIndex %></th>
      <td><%= instrument.name %></td>
      <td class="editable"><%= light %></td>
    </tr>
  <% }) %>

</form>
          <% } }); %>
        </tbody>
      </table>
</body>
</html>
