<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Location</th>
      <th>Instrument Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% blocks.forEach(function(instrument, idx) { %>
      <% if (instrument.type === 'instrument') { %>

        <% if (instrument.data && Array.isArray(instrument.data.lightlist) && instrument.data.lightlist.length === 1) { %>

          <tr class="toggle-btn">
            <td><%= instrument.start %></td>
            <td><%= instrument.data.name %></td>
            <td class="editable" data-index="0" data-id="<%= instrument.data._id %>"><%= instrument.data.lightlist[0] %></td>
            <td><a href="/delete/<%= instrument.data.id %>" class="btn btn-danger">Delete</a></td>
          </tr>
        <% } else { %>
          <tr class="toggle-btn" onclick="toggleRows('<%= idx %>')">
            <td><%= instrument.start %>–<%= instrument.end %></td>
            <td><%= instrument.data.name %></td>
            <td></td>
            <td><a href="/delete/<%= instrument.data.id %>" class="btn btn-danger">Delete</a></td>
          </tr>

         <% if (instrument.data && Array.isArray(instrument.data.lightlist)) { %>
  <% instrument.data.lightlist.forEach(function(light, localIndex) { %>
    <tr class="details-<%= idx %> hidden-rows">
      <th scope="row"><%= instrument.start + localIndex %></th>
      <td><%= instrument.data.name %></td>
      <td class="editable" data-index="<%= localIndex %>" data-id="<%= instrument.data._id %>"><%= light %></td>
      <td></td>
    </tr>
  <% }); %>
<% }} %>


      <% } else { %>
        <tr class="toggle-btn emptyrow">
          <td><%= instrument.start %>–<%= instrument.end %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>
