<h2>Pending changes</h2>
<% let pendinginstrument = false%>
<% instruments.forEach(function(instrument, ) { %>
    <% if (instrument.pending) { 
        pendinginstrument = true%>
        <div>
            <p><%= instrument.creator %> wants <%= instrument.name %> in addresses <%= instrument.startAddress %>-<%= instrument.endAddress %></p>
            <a href="/confirm/<%= instrument.id %>" class="btn btn-secondary">Done</a>

        </div>
    <% }
         
 }); 
 
  if(!pendinginstrument){%>
<p>You have no pending instruments! Horray</p>
        <% }%>
