<h4 id="table-header">DMX Addresses</h4>

<div id="accordions">

  <div class="accordion mb-4" id="accordionLeft">
    <h4>Universe 1</h4>
    <% instruments.forEach((instrument, index) => { 
      if(!instrument.pending && instrument.startAddress<512){ %>
      <div class="accordion-item">
        <form action="/save/<%= instrument.id%>" method="POST">
        <h2 class="accordion-header" id="headingLeft<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeft<%= index %>" aria-expanded="false" aria-controls="collapseLeft<%= index %>">
            <%= instrument.startAddress%>-<%= instrument.endAddress%>: <%= instrument.name %>
          </button>
        </h2>
        <div id="collapseLeft<%= index %>" class="accordion-collapse collapse" data-bs-parent="#accordionLeft">
          <div class="accordion-body">
            
            <% if(instrument.dmxtype == 'multiple'){ %>
              <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Instrument</th>
      
    </tr>
  </thead>
  <tbody>
  <% instrument.lightlist.forEach((light,index)=> { %>
    <tr>
      <th scope="row"><%= instrument.startAddress+index%></th>
      <td><%= light%></td>
      
    </tr>
  <% }) %>

  </tbody>
</table>
    <% } %>



            <p class="notes"><%= instrument.notes%></p>
            <div class="accordion-buttons">
              <button class="btn btn-success edit" data-id="<%= instrument.id %>" >Edit</button>
              <a href="/delete/<%= instrument.id %>" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        </form>
      </div>
    <% }}) %>
  </div>

 

<div class="accordion" id="accordionRight">
  <h4>Universe 2</h4>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingRightOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightOne" aria-expanded="true" aria-controls="collapseRightOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseRightOne" class="accordion-collapse collapse show" data-bs-parent="#accordionRight">
      <div class="accordion-body">
        <ol start="5">
          <li>Source 4</li>
          <li>Fresnel</li>
          <li>add more info here</li>
      </ol>
      <p>general notes will go here</p>
      <div class="accordion-buttons">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="accord  ion-item">
    <h2 class="accordion-header" id="headingRightTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightTwo" aria-expanded="false" aria-controls="collapseRightTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseRightTwo" class="accordion-collapse collapse" data-bs-parent="#accordionRight">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingRightThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightThree" aria-expanded="false" aria-controls="collapseRightThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseRightThree" class="accordion-collapse collapse" data-bs-parent="#accordionRight">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong>
      </div>
    </div>
  </div>
</div>
